<html>
    <head>
        {{>header}}
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #e8d3b9;">
    {{>navbar}}
    </nav>
    <div style="margin-top:75px">
        <h4> About us</h4>
        <p>This is a test to make sure routing has been set up properly, this will change.</p>
        <p>This is another test to ensure nodemon works fine.</p>
    </body>
    </div>
</html>