<html>
    <head>
        {{>header}}
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #e8d3b9;">
    {{>navbar}}
    </nav>
    <div style="margin-top:50px">
    <div class="text-center">
        <h1> Welcome To GCU Food!</h1><br><hr><br>
        </div>
        <h2 class="text-center">About us</h2><br>
        <p class="text-center">At GCU Food we strive to attempt the best possible customer experince at our restaurant, providing <br>delicious freah Italian cuisine since 2022!<br><br> 
        Through this website, our full menu can be easy accessed providing information such as our Menu, including information specific to each dish we provide.<br> Information such as dish names, ingredients, possible allergens and pricing can all be found here!<br></p>
        <p class="text-center">Please feel free to contact us through our Email: <a href = "mailto: GCUFood@gmail.com">GCUFood@gmail.com</a></p>
        <hr><br>
        <h2 class="text-center"> Where to Find Us</h2><br><br>
        <p class="text-center">Currently, our main location is <a href="https://goo.gl/maps/EwsWKrnVGBkmN6uNA" target="_blank" rel="noopener noreferrer">Here.</a><br> We hope to see you soon!</p>
    </body>
    </div>
</html>