<html>
<head>{{>header}}</head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #e8d3b9;">
    {{>navbar}}
    </nav>
    <div class= "container w-25 mx-auto" style="margin-top:250px">
        <h2>Sign in</h2><hr>
            <form method ="POST" action="/logged">
                <label for="username">
                    Username: 
                </label>
                    <input style="width: 100%" type= "text" id="username" name="username" placeholder="username"><br>
                <label for="password">
                    Password:   
                </label>
                    <input style="width: 100%" type= "password" id="password" name="password" placeholder="password">
                <hr><input type = "submit" value="Sign In">
                </div>
            </form>
        </div>
    </body>
</html>