<html>
    <head>
    {{>header}}
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark navbar-fixed-top" style="background-color: #e8d3b9;">
    {{>navbar}}
    </nav>
    <div style="margin-top:100px">
    <div class=text-center>
    <h1>Menu</h1>
    <p>Below all our available dishes are shown, including helpful information on each individual dish<br> 
    including the name, a short description, ingreedients, any possible allergens contained in the dish, and the<br>
     price of the dish.<br><br> We have Three available Menus: <br>Dinner Menu<br>Lunch Menu<br>Specials Menu <br><br>
    </p> 
    </div>
    <div class="container">
    <div class="text-center">
    <hr><h3>Dinner Menu</h3><hr>
    {{#dinner}}
        <h4>{{name}}</h4>
        <p>
            Description: <br>{{description}} <br>
            Ingredients: <br>{{ingredients}} <br>
            Allergens: <br>{{allergens}} <br>
            Price: <br>£{{price}} <br></p> <br>
    {{/dinner}}
    </div>
    </div>
    <div class="container">
    <div class="text-center">
    <hr><h3>Lunch Menu</h3><hr>
    {{#lunch}}
        <h4>{{name}}</h4>
        <p>
            Description: <br>{{description}} <br>
            Ingredients: <br>{{ingredients}} <br>
            Allergens: <br>{{allergens}} <br>
            Price: <br>£{{price}} <br></p> <br>
    {{/lunch}}
    </div>
    </div>
    <div class="container">
    <div class="text-center">
    <hr><h3>Specials Menu</h3><hr>
    {{#special}}
        <h4>{{name}}</h4>
        <p>
            Description: <br>{{description}} <br>
            Ingredients: <br>{{ingredients}} <br>
            Allergens: <br>{{allergens}} <br>
            Price: <br>£{{price}} <br></p> <br>
    {{/special}}
    </div>
    </div>
    </div>
    </body>
</html>