<div class="navbar-header">
<a class="navbar-brand" style='color:black' href="/">GCU Food</a>
</div>
<div class="container-fluid">
<ul class="nav navbar-nav">
<li><a class="nav-link" style='color:black' href="/main">Menu</a>
<li><a class="nav-link" style='color:black' href="/staff">Staff Page</a>
</ul>
</div>

