<html>
    <head>
    {{>header}}
    </head>
    <body>
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #e8d3b9;">
    {{>staffnavbar}}
    </nav>
    <div style="margin-top:75px">
    <h1>Enter a new dish</h1>
    <form method="post" role="form" action="/new">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Please enter a dish name" required>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Please enter a dish description" rows="3" required>
        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients" placeholder="Please enter dish ingredients" required>
        <label for="ingredients">Allergens:</label>
        <input type="text" id="allergens" name="allergens" placeholder="Please enter any any Allergens" required>
        <label for="price">Price:</label>
        <input type="float" id="price" name="price" placeholder="Please enter dish price" required>
        <label for="type">Type:</label>
        <select name="type" id="type">
            <option value="Dinner">Dinner</option>
            <option value="Lunch">Lunch</option>
            <option value="Special">Special</option>
        </select>
        <label for="availability">Availability:</label>
        <select name="availability" id="availability">
            <option value="True">True</option>
            <option value="False">False</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
    <div class="container">
    <div class="text-center">
    <h2>All Dishes</h2>
    <p>Below shows all recorded dishes, updating whenever a new dish is added. <br>Each dish can be edited to then be displayed on the public menu.</p>
    <hr><h3>Dinner Menu</h3><hr>
    {{#dinner}}
        <h4>{{name}}</h4>
        <p>
            Description: {{description}} <br>
            Ingredients: {{ingredients}} <br>
            Allergens: {{allergens}} <br>
            Price: £{{price}} <br>
            Availability: {{availability}} <br></p>
        <a href="/edit/{{_id}}">Update Dish</a> <br>
    {{/dinner}}
    </div>
    </div>
    <div class="container">
    <div class="text-center">
    <hr><h3>Lunch Menu</h3><hr>
    {{#lunch}}
        <h4>{{name}}</h4>
        <p>
            Description: {{description}} <br>
            Tngredients: {{ingredients}} <br>
            Allergens: {{allergens}} <br>
            Price: £{{price}} <br>
            Availability: {{availability}} <br></p>
        <a href="/edit/{{_id}}">Update Dish</a> <br>
    {{/lunch}}
    </div>
    </div>
    <div class="container">
    <div class="text-center">
    <hr><h4>Specials Menu</h4><hr>
    {{#special}}
        <h4>{{name}}</h4>
        <p>
            Description: {{description}} <br>
            Ingredients: {{ingredients}} <br>
            Allergens: {{allergens}} <br>
            Price: £{{price}} <br>
            Availability: {{availability}} <br></p>
        <a href="/edit/{{_id}}">Update Dish</a> <br>
    {{/special}}
    </div>
    </div>
    </div>
    </body>
</html>