<a class="navbar-brand" style='color:black' href="/">GCU Food</a>
<ul class="navbar-nav">
<li class="nav-item"><a class="nav-link" style='color:black' href="/main">Menu</a></li>
<li class="nav-item"><a class="nav-link" style='color:black' href="/staff">Staff Page</a></li>
</ul>


